<div class="p-d-flex bg-blue">
    <div class="p-mr-2">
        <div class="row">
            <div class="col-md-6 p-md-4">
                <img style="height: 150px;" class="rounded-circle" src="../../../assets/img/user.png">
            </div>
        </div>
    </div>
    <div class="p-mr-2">
        <div class="row">
            <div class="col-md-12">
                <h4 style="padding-top: 60px !important;"> {{Employee.firstName}} {{Employee.lastName}} </h4>
                <p class="pl-1">{{Employee.designation}}</p>
            </div>
        </div>
    </div>

</div>
<p>
    <a class='btn btn-default' (click)="onBack()">Back </a>
</p>
<p-tabView>
    <p-tabPanel header="General Info">
        <p-panel class="p-md-4" header="Basic Info" *ngIf="basicInfo">
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon" (click)="editBasicInfo()">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </ng-template>

            <div class="p-gird">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="col-md-12 pb-3">
                            First Name : <b>{{Employee.firstName}}</b> 
                        </div>
                        <div class="col-md-12">
                            Employee Id :<b> {{Employee.employeeIdNumber}} </b> 
                        </div>
                    </div>
                    <div class="p-col-6">
                        <div class="col-md-12 pb-3">
                            Last Name :<b> {{Employee.lastName}}</b>
                        </div>
                        <div class="col-md-12">
                            Email :<b> {{Employee.email}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
        <p-panel class="p-md-4" header="Edit Basic Info" *ngIf="!basicInfo">
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon" (click)="editBasicInfo()">
                    <i class="fas fa-times-circle"></i>
                </button>
            </ng-template>

            <div class="p-gird">
                <form class="form-horizontal"   #EditBasicInfo="ngForm"
                (ngSubmit)="UpdateBasicInfo()" autocomplete="off">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <div class="p-field p-grid">
                                <label for="firstName" class="p-col-fixed" style="width:150px">First Name : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="firstName" name="firstName" type="text" [(ngModel)]="Employee.firstName" pInputText>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="employeeId" class="p-col-fixed" style="width:150px">Employee Id : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="employeeIdNumber" name="employeeIdNumber" disabled="disabled" type="text" [(ngModel)]="Employee.employeeIdNumber" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="p-field p-grid">
                                <label for="lastName" class="p-col-fixed" style="width:150px">Last Name : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" class="form-control"  id="lastName" name="lastName" type="text" [(ngModel)]="Employee.lastName"   required minlength="2"
                                    maxlength="32" pInputText  #nameModel="ngModel" #nameEl>
                                    <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="email" class="p-col-fixed" style="width:150px">Email : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="email"  name="email" type="text" [(ngModel)]="Employee.email" pInputText>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit" [cancelDisabled]="saving"  [Disabled]="!EditBasicInfo.form.valid || saving">Save Changes</button>
                        </div>
                    </div>
                </form>

            </div>
        </p-panel>

        <p-panel class="p-md-4" header="Work" *ngIf="work">
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon" (click)="editWork()">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </ng-template>

            <div class="p-gird">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="col-md-12 pb-3">
                           Department : <b>{{Employee.department}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                            Job Title : <b>{{Employee.designation}}</b> 
                        </div>

                        <div class="col-md-12 pb-3">
                           Source of hire :  <b>{{Employee.sourceOfHire}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                            Work phone : <b>{{Employee.workPhone}}</b> 
                        </div>

                    </div>
                    <div class="p-col-6">
                        <div class="col-md-12 pb-3">
                            Reporting To : <b>{{Employee.reporttoUser}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                          Date of hire : <b> {{Employee.dateOfHire | date:"MM/dd/yyyy"}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                           Employee Status :  <b>     <p-checkbox [(ngModel)]="Employee.employeeStatus"
                            name="isActive"
                              id="isActive"
                            [binary]="true"
                            [disabled]="true"></p-checkbox></b> 
                        </div>
                        <div class="col-md-12 pb-3">
                           Employee Type : <b>{{Employee.employeeType}}</b> 
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
        <p-panel class="p-md-4" header="Edit Work Details" *ngIf="!work">
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon" (click)="editWork()">
                    <i class="fas fa-times-circle"></i>
                </button>
            </ng-template>

            <div class="p-gird">
                <form class="form-horizontal" 
                #EditWorkInfo="ngForm"
                (ngSubmit)="UpdateWorkInfo()"
                autocomplete="off">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <div class="p-field p-grid">
                                <label for="department" class="p-col-fixed" style="width:150px">Department : </label>
                                <div class="p-col">
                                    <!-- <input id="department" type="text" pInputText>  -->
                                    <p-dropdown [style]="{'width':'90%'}" [options]="DepartmentDropD" id="departmentId" 
                                    name="departmentId" placeholder="Select Department"  [(ngModel)]="Employee.departmentId"
                                    ></p-dropdown>

                                </div>
                            </div>

                            <div class="p-field p-grid">
                                <label for="reportingTo" class="p-col-fixed" style="width:150px">Reporting To : </label>
                                <div class="p-col">
                                    <p-dropdown [style]="{'width':'90%'}" [options]="UserDropD" id="reportingTo" 
                                    name="reportingTo" placeholder="Select Report To"   [(ngModel)]="Employee.reportingTo"
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="sourceOfHire" class="p-col-fixed" style="width:150px">Source of hire :
                                </label>
                                <div class="p-col">
                                    <p-dropdown [style]="{'width':'90%'}" [options]="SourceOfHireDropD"
                                    id="sourceOfHire" name="sourceOfHire" placeholder="Select Source Of Hire"  [(ngModel)]="Employee.sourceOfHire"
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="workPhone" class="p-col-fixed" style="width:150px">Work Phone : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="workPhone" name="workPhone" type="text" [(ngModel)]="Employee.workPhone" pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="p-field p-grid">
                                <label for="jobTitle" class="p-col-fixed" style="width:150px">Job Title : </label>
                                <div class="p-col">
                                  
                                    <p-dropdown [style]="{'width':'90%'}" [options]="DesignationDropD" id="designationId" 
                                    name="designationId" placeholder="Select Designation"  [(ngModel)]="Employee.designationId"
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="dateOfHire" class="p-col-fixed" style="width:150px">Date of hire : </label>
                                <div class="p-col">
                                    <p-calendar [style]="{'width':'90%'}" inputId="dateOfHire"
                                    id="dateOfHire" name ="dateOfHire" [(ngModel)]="Employee.dateOfHire"
                                    ></p-calendar>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="employeeStatus" class="p-col-fixed" style="width:150px">Employee IsActive :
                                </label>
                                <div class="p-col">
                                    <p-checkbox
                                    style="width: 90%;" id="employeeStatus" 
                                    id="employeeStatus" name="employeeStatus" [(ngModel)]="Employee.employeeStatus"
                                   [binary]="true"
                                  >
                                  </p-checkbox>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="employmentType" class="p-col-fixed" style="width:150px">Employement Type :
                                </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="employmentType" type="text"
                                    id="employeeType" name="employeeType" [(ngModel)]="Employee.employeeType"
                                    pInputText>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </p-panel>

        <p-panel class="p-md-4" header="Personal Details" *ngIf="personalDetail">
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon" (click)="editPersonalDetail()">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </ng-template>

            <div class="p-gird">
                <div class="p-grid">
                    <div class="p-col-6">
                        <div class="col-md-12 pb-3">
                            Address :  <b>{{Employee.address}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                            State :  <b>{{Employee.state}}</b> 
                        </div>

                        <div class="col-md-12 pb-3">
                           Date of birth :  <b> {{Employee.dob | date:"MM/dd/yyyy"}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                           Nationality :  <b>{{Employee.nationality}}</b> 
                        </div>

                    </div>
                    <div class="p-col-6">
                        <div class="col-md-12 pb-3">
                            Country :  <b>{{Employee.country}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                            Phone : <b>{{Employee.phone}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                            Gender : <b>{{Employee.gender}}</b> 
                        </div>
                        <div class="col-md-12 pb-3">
                           Marital Status : <b>{{Employee.maritalStatus}}</b> 
                        </div>
                    </div>
                </div>
            </div>
        </p-panel>
        <p-panel class="p-md-4" header="Edit Personal Details" *ngIf="!personalDetail">
            <ng-template pTemplate="icons">
                <button class="p-panel-header-icon" (click)="editPersonalDetail()">
                    <i class="fas fa-times-circle"></i>
                </button>
            </ng-template>

            <div class="p-gird">
                <form class="form-horizontal" 
                #EditPersonalDetail="ngForm"
                (ngSubmit)="UpdatePersonalDetail()"
                autocomplete="off">
                    <div class="p-grid">
                        <div class="p-col-6">
                            <div class="p-field p-grid">
                                <label for="address" class="p-col-fixed" style="width:150px">Address : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="address" name="address" type="text"
                                    [(ngModel)]="Employee.address"
                                    pInputText>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="state" class="p-col-fixed" style="width:150px">State : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="state" type="text"
                                    name="state"   [(ngModel)]="Employee.state"
                                    pInputText>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="dob" class="p-col-fixed" style="width:150px">Date of birth :
                                </label>
                                <div class="p-col">
                                    <p-calendar [style]="{'width':'90%'}" inputId="dob"
                                    name="dob"   [(ngModel)]="Employee.dob"
                                    ></p-calendar>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="nationality" class="p-col-fixed" style="width:150px">Nationality : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="nationality" type="text" 
                                    name="nationality"   [(ngModel)]="Employee.nationality"
                                    pInputText>
                                </div>
                            </div>
                        </div>
                        <div class="p-col-6">
                            <div class="p-field p-grid">
                                <label for="country" class="p-col-fixed" style="width:150px">Country : </label>
                                <div class="p-col">
                                    <p-dropdown [style]="{'width':'90%'}" [options]="CountryDropD" id="country" 
                                    name="country" placeholder="Select Country"  [(ngModel)]="Employee.country"     
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="phone" class="p-col-fixed" style="width:150px">Phone : </label>
                                <div class="p-col">
                                    <input style="width: 90%;" id="phone" type="text" 
                                    name="phone"   [(ngModel)]="Employee.phone"
                                    pInputText>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="gender" class="p-col-fixed" style="width:150px">Gender : </label>
                                <div class="p-col">
                                    <p-dropdown [style]="{'width':'90%'}" [options]="GenderDropD"
                                    id="gender" 
                                    name="gender" placeholder="Select Gender"  [(ngModel)]="Employee.gender"     
                                    ></p-dropdown>
                                </div>
                            </div>
                            <div class="p-field p-grid">
                                <label for="maritalStatus" class="p-col-fixed" style="width:150px">Marital Status :
                                </label>
                                <div class="p-col">
                                    <p-dropdown [style]="{'width':'90%'}" [options]="MaratialStatusDropD"
                                    id="maritalStatus" 
                                    name="maritalStatus" placeholder="Select MaritalStatus"   [(ngModel)]="Employee.maritalStatus"     
                                    ></p-dropdown>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </p-panel>

        <p-panel class="p-md-4" header="Work Experience">
            <ng-template pTemplate="icons">
                <!-- <button class="p-panel-header-icon">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </button> -->
            </ng-template>

            <p-table [value]="experiences" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10,15,20]">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="sn">S.N <p-sortIcon field="sn"></p-sortIcon>
                        </th>
                        <th pSortableColumn="previousCompany">Previous Company <p-sortIcon field="previousCompany">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="jobTitle">Job Title <p-sortIcon field="jobTitle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="jobDesc">Job Description <p-sortIcon field="jobDesc"></p-sortIcon>
                        </th>
                        <th pSortableColumn="startDate">Start Date <p-sortIcon field="startDate"></p-sortIcon>
                        </th>
                        <th pSortableColumn="endDate">End Date <p-sortIcon field="intrest"></p-sortIcon>
                        </th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c let-i="rowIndex">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{c.previousCompany}}</td>
                        <td>{{c.jobTitle}}</td>
                        <td>{{c.jobDescription}}</td>
                        <td>{{c.startDate | date:"MM/dd/yyyy"}}</td>
                        <td>{{c.endDate | date:"MM/dd/yyyy"}}</td>
                        <td>
                            <button (click)="editWorkExperience(c)" class="btn btn-primary mr-2" type="button"><i
                                    class="fas fa-pencil-alt"></i></button>
                            <button (click)="deleteWorkExperience(c.id)" class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button (click)="createWorkExperience()" class="btn btn-primary" type="button"><i class="fa fa-plus"></i>Add Work experience</button>
                </div>
            </div>

        </p-panel>

        <p-panel class="p-md-4" header="Education">
            <ng-template pTemplate="icons">
                <!-- <button class="p-panel-header-icon">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </button> -->
            </ng-template>

            <p-table [value]="education" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5,10,15,20]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="sn">S.N <p-sortIcon field="sn"></p-sortIcon>
                    </th>
                    <th pSortableColumn="schoolName">School Name <p-sortIcon field="schoolName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="degree">Degree <p-sortIcon field="degree"></p-sortIcon>
                    </th>
                    <th pSortableColumn="field">Field <p-sortIcon field="field"></p-sortIcon>
                    </th>
                    <th pSortableColumn="year">Year <p-sortIcon field="year"></p-sortIcon>
                    </th>
                    <th pSortableColumn="intrest">Intrest <p-sortIcon field="intrest"></p-sortIcon>
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-c let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{c.schoolName}}</td>
                    <td>{{c.degress}}</td>
                    <td>{{c.fieldOfStudy}}</td>
                    <td>{{c.yearOfCompletion}}</td>
                    <td>{{c.interest}}</td>
                    <td>
                        <button (click)="editEducation(c)" class="btn btn-primary mr-2" type="button"><i
                                class="fas fa-pencil-alt"></i></button>
                        <button (click)="deleteEducation(c.id)" class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>

        <div class="row mt-3">
            <div class="col-md-12">
                <button (click)="createEducation()" class="btn btn-primary" type="button"><i class="fa fa-plus"></i>Add
                    Education</button>
            </div>
        </div>
        </p-panel>

        <p-panel class="p-md-4" header="Dependents">
            <ng-template pTemplate="icons">
                <!-- <button class="p-panel-header-icon">
                    <i class="fa fa-plus-circle fa-2x"></i>
                </button> -->
            </ng-template>

            <p-table [value]="dependents" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5,10,15,20]">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="sn">S.N <p-sortIcon field="sn"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dependentName">Dependent Name <p-sortIcon field="dependentName">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="gender">Gender <p-sortIcon field="gender"></p-sortIcon>
                    </th>
                    <th pSortableColumn="relationship">Relationship <p-sortIcon field="relationship"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dob">Date of Birth <p-sortIcon field="dob"></p-sortIcon>
                    </th>
                    <th pSortableColumn="sn">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-c let-i="rowIndex">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{c.dependentName}}</td>
                    <td>{{c.gender}}</td>
                    <td>{{c.relationship}}</td>
                    <td>{{c.dob | date:"MM/dd/yyyy"}}</td>
                    <td>
                        <button (click)="editDependent(c)" class="btn btn-primary mr-2" type="button"><i
                                class="fas fa-pencil-alt"></i></button>
                        <button (click)="deleteDependent(c.id)" class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <!-- <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button> -->
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>

        <div class="row mt-3">
            <div class="col-md-12">
                <button (click)="createDependent()" class="btn btn-primary" type="button"><i class="fa fa-plus"></i>Add dependent</button>
            </div>
        </div>
        </p-panel>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary"   (click)="UpdateAll(Employee)">Update</button>
                <button type="button" class="btn btn-default ml-3">Cancel</button>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Job">
        work in process...
    </p-tabPanel>
    <p-tabPanel header="Leave">
        work in process...
    </p-tabPanel>
    <p-tabPanel header="Notes">
        work in process...
    </p-tabPanel>
    <p-tabPanel header="Performance">
        work in process...
    </p-tabPanel>
    <p-tabPanel header="Permissions">
        work in process...
    </p-tabPanel>
</p-tabView>