<form class="form-horizontal" autocomplete="off" #createCompanyForm="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'Apply For Leave' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

    <div class="p-grid m-3">
        <div class="p-col-12">
            <div class="p-field p-grid">
                <label style="width:150px" for="leaveType">Leave Type :</label>
                <div class="p-col">
                    <p-dropdown [style]="{'width':'90%'}" name="leaveType" id="leaveType" [options]="leaveTypes"
                        placeholder="Select Leave Type"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="p-col-12">
            <div class="p-field p-grid">
                <label style="width:150px" for="fromDate">From Date :</label>
                <div class="p-col">
                    <p-calendar [style]="{'width':'90%'}" name="fromDate" inputId="fromDate" placeholder="Select Date">
                    </p-calendar>
                </div>
            </div>
        </div>
        <div class="p-col-12">
            <div class="p-field p-grid">
                <label style="width:150px" for="toDate">To Date :</label>
                <div class="p-col">
                    <p-calendar [style]="{'width':'90%'}" name="toDate" inputId="toDate" placeholder="Select Date">
                    </p-calendar>

                </div>
            </div>
        </div>
        <div class="p-col-12">
            <div class="p-field p-grid">
                <label for="appliedLeave" class="p-col-fixed" style="width:150px">Applied Leave (days) : </label>
                <div class="p-col">
                    <input style="width: 90%;" type="text" name="appliedLeave" id="appliedLeave" pInputText
                        placeholder="2.00" />
                </div>
            </div>
        </div>
        <div class="p-col-12">
            <div class="p-field p-grid">
                <label for="remainingLeaveDay" class="p-col-fixed" style="width:150px">Remaining Leave(days) : </label>
                <div class="p-col">
                    <input style="width: 90%;" type="text" name="remainingLeaveDay" id="remainingLeaveDay" pInputText
                        placeholder="0.00" />
                </div>
            </div>
        </div>


        <div class="p-col-12">
            <div class="p-field p-grid">
                <label for="leaveReason" class="p-col-fixed" style="width:150px">Leave Reason : </label>
                <div class="p-col">
                    <textarea style="width: 90%;" name="leaveReason" pInputText></textarea>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <div class="p-field p-grid">
                <label for="file" class="p-col-fixed" style="width:150px">File Attatchment : </label>
                <div class="p-col">
                    <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
            multiple="multiple" accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-12 text-center mb-2">
            <button class="btn btn-primary" type="submit">Apply For Leave</button>
        </div>
    </div>
</form>