<form class="form-horizontal" autocomplete="off" (ngSubmit)="save()">
    <abp-modal-header [title]="'Create Work Experience' | localize" (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="p-fluid p-formgrid p-grid">
            <div class="row p-col-12">
                <div class="p-field p-col-6 ">
                    <label for="name">Previous Company</label>
                    <input [(ngModel)]="work.previousCompany" type="text" class="form-control p-inputtext-sm" name="previousCompany" id="previousCompany"
                       placeholder="Enter Previous Company Name" pInputText />
                </div>
                <div class="p-field p-col-6 ">
                    <label for="jobTitle">Job Title</label>
                    <input [(ngModel)]="work.jobTitle" type="text" class="form-control p-inputtext-sm" name="jobTitle" id="jobTitle"
                    placeholder="Enter Previous Company Name" pInputText />
                    <!-- <input [(ngModel)]="work.jobTitle" placeholder="Select Job Title" name="jobTitle" [options]="jobTitles"></p-dropdown> -->
                </div>
            </div>
            <div class="row p-col-12">
                <div class="p-field p-col-12 p-md-12">
                    <label for="jobDescription">Job Description</label>
                    <textarea [(ngModel)]="work.jobDescription" placeholder="Write Description" type="text" name="jobDescription" id="jobDescription" pInputTextarea>
              </textarea>
                </div>
            </div>
            <div class="row p-col-12">
                <div class="p-field p-col-6">
                    <label for="startDate">Start Date</label>
                    <p-calendar [(ngModel)]="work.startDate" name="startDate" placeholder="Select Date" inputId="startDate"></p-calendar>
                </div>
                <div class="p-field p-col-6">
                    <label for="endDate">End Date</label>
                    <p-calendar [(ngModel)]="work.endDate" name="endDate" placeholder="Select Date" inputId="endDate"></p-calendar>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
    <!-- <div class="row mb-4">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary mr-1" (click)="save()">Save</button>
            <button type="button" class="btn btn-danger ml-1" (click)="cancel()">Cancel</button>
        </div>
    </div> -->
</form>