
<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Branch" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createBranch()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <p-table #dt [value]="Branches"
          [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">         
            <ng-template pTemplate="caption">
              <div class="table-header">
                  List of Branches
                  <span class="p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" /> -->
                      <!-- <input pInputText type="text" (input)="dt.filter($event)" placeholder="Search by Name" class="p-column-filter"> -->
                      <input
                      type="text"
                      class="form-control"
                      name="keyword"
                      [placeholder]="'SearchWithThreeDot' | localize"
                      [(ngModel)]="keyword"
                      (keyup.enter)="getDataPage(1)"
                    />
                      <!-- <input pInputText type="text" (input)="dt.filter($event.target.value, 'code', 'startsWith')" placeholder="Search by Code" class="p-column-filter"> -->
                  </span>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <!-- <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" /> -->
                    <!-- <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Search by Name" class="p-column-filter"> -->
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'code', 'startsWith')" placeholder="Search by Code" class="p-column-filter">
                </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="address">Address <p-sortIcon field="Address"></p-sortIcon></th>
                <th pSortableColumn="contactNo">Contact Number <p-sortIcon field="contactNo"></p-sortIcon></th>
                <th pSortableColumn="contactPerson">Contact Person <p-sortIcon field="contactPerson"></p-sortIcon></th>
                  <th pSortableColumn="companyName">company<p-sortIcon field="companyName"></p-sortIcon></th>
                  <th pSortableColumn="isActive">IsActive <p-sortIcon field="isActive"></p-sortIcon></th>
                  <th style="width: 200px;">{{ "Actions" | localize }}</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-Branches>
              <tr>
                <td> {{Branches.name}} </td>
                <td> {{Branches.code }}</td>
                <td>{{ Branches.address }}</td>
                <td>{{ Branches.contactNo }}</td>
                <td>{{ Branches.contactPerson }}</td>
                <td>{{ Branches.companyName }}</td>

                <td>
                  <p-checkbox [(ngModel)]="Branches.isActive"
            name="isActive"
              id="isActive"
            [binary]="true"
            [disabled]="true"></p-checkbox>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm bg-secondary"
                  (click)="editBranch(Branches)"
                >
                  <i class="fas fa-pencil-alt"></i>
                  {{ "Edit" | localize }}
                </button>
                <button
                  type="button"
                  class="btn btn-sm bg-danger mx-2"
                  (click)="delete(Branches)"
                >
                  <i class="fas fa-trash"></i>
                  {{ "Delete" | localize }}
                </button>
              </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No customers found.</td>
            </tr>
        </ng-template>
      </p-table>

        </div>
        <!-- <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "totalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
