<form class="form-horizontal" autocomplete="off" #createCompanyForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewFiscalYear' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="p-fluid p-formgrid p-grid">
      <div class="row p-col-12">
        <div class="p-field p-col-4 p-md-4">
          <label for="name">FiscalYear Name</label>
          <input type="text" class="form-control p-inputtext-sm" name="name" id="name" required minlength="2"
            maxlength="32" [(ngModel)]="FiscalYear.name" pInputText #nameModel="ngModel" #nameEl />
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
        <div class="p-field p-col-4 p-md-4">
          <label for="startDate">Start Date</label>
          <p-calendar [(ngModel)]="FiscalYear.startDate" name="startDate" inputId="startDate"></p-calendar>
        </div>
        <div class="p-field p-col-4 p-md-4">
          <label for="endDate">End Date</label>
          <p-calendar [(ngModel)]="FiscalYear.endDate" name="endDate" inputId="endDate"></p-calendar>
        </div>
        <div class="p-field p-col-4 p-md-4">
          <label for="isCurrent">Status</label>
          <p-checkbox [(ngModel)]="FiscalYear.isCurrent" class="form-control" name="isCurrent" id="isCurrent"
            label="isCurrent : {{FiscalYear.isCurrent}}" [binary]="true">
          </p-checkbox>
        </div>
      </div>
      <div class="row p-col-12">
        <div class="p-field p-col-12 p-md-12">
          <label for="description">Description</label>
          <textarea type="text" name="description" id="description" pInputTextarea
            [(ngModel)]="FiscalYear.description">
            </textarea>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createCompanyForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>