<form class="form-horizontal" autocomplete="off" #createCompanyForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewFiscalYear' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

  <div class="p-grid m-3">
    <div class="p-col-12">
      <div class="p-field p-grid">
        <label style="width:150px" for="name">FiscalYear Name :</label>
        <div class="p-col">
          <input style="width: 90%;" type="text" name="name" id="name" required minlength="2" maxlength="32"
            [(ngModel)]="FiscalYear.name" pInputText #nameModel="ngModel" placeholder="Enter Fiscal Year Name"
            #nameEl />
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-field p-grid">
        <label for="startDate" class="p-col-fixed" style="width:150px">Start Date : </label>
        <div class="p-col">
          <p-calendar [(ngModel)]="FiscalYear.startDate" [style]="{'width':'90%'}" name="startDate" inputId="startDate"
            placeholder="Select Date"></p-calendar>
        </div>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-field p-grid">
        <label for="endDate" class="p-col-fixed" style="width:150px">End Date : </label>
        <div class="p-col">
          <p-calendar [(ngModel)]="FiscalYear.endDate" [style]="{'width':'90%'}" name="endDate" inputId="endDate"
            placeholder="Select Date"></p-calendar>
        </div>
      </div>
    </div>
    <div class="p-col-12">
      <div class="p-field p-grid">
        <label for="isCurrent" class="p-col-fixed" style="width:150px">Status : </label>
        <div class="p-col">
          <p-checkbox [(ngModel)]="FiscalYear.isCurrent" name="isCurrent" id="isCurrent"
            label="isCurrent : {{FiscalYear.isCurrent}}" [binary]="true">
          </p-checkbox>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createCompanyForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>